{{ partial "header.html" . }}
{{ partial "site-header.html" . }}

<div class="clearfix" id="content">
    <div class="sm-col-12 md-col-8 px2 mx-auto">
        <div id="travelmap" style="height: 440px; border: 1px solid #AAA;"></div><br>
        {{ .Content }}
        {{ range first 10 .Site.Taxonomies.tags.rtw.Pages }}
        {{ .Render "summary"}}
        {{ end }}
        <!-- Pager -->
        <ul class="list-reset flex justify-center items-center right">
            <li class="border p1">
                <a href="/tags/rtw/">Archiv &rarr;</a>
            </li>
        </ul>   
    </div>
</div>

{{ partial "footer.html" .}}