{{ partial "header.html" . }}
{{ partial "site-header.html" . }}

<div class="clearfix" id="content">
    <div class="sm-col-12 md-col-8 px2 mx-auto">
        <amp-iframe width=200 height=100
            layout="responsive"
            sandbox="allow-scripts allow-same-origin"
            src="https://blogamp.networkchallenge.de/osm/weltreise.html">
        </amp-iframe>
        {{ .Content }}
        {{ range first 10 .Site.Taxonomies.tags.rtw.Pages }}
        {{ .Render "summary"}}
        {{ end }}
        <!-- Pager -->
        <ul class="list-reset flex justify-center items-center right">
            <li class="border p1">
                <a href="/tags/rtw/">Archiv &rarr;</a>
            </li>
        </ul>   
    </div>
</div>

{{ partial "footer.html" .}}