{{ if isset .Params "author" }}
    {{ $author := index .Site.Data.authors .Params.author }}
    {{ .Page.Scratch.Add "author" $author }}
{{ else }}
    {{ $author := index .Site.Data.authors "groll" }}
    {{ .Page.Scratch.Add "author" $author }}
{{ end }}
<!-- {{ partial "header.html" (dict "context" . "showmap" 1) }} -->
{{ partial "header.html" . }}
{{ partial "page-header.html" . }}

<div class="clearfix" id="content">
        <div class="contentwrapper relative">

        
        <div class="content relative">
          <!-- Post Content -->
          <article>
          {{ .Content }}
          </article>

          <hr>
          <amp-ad media="(min-width:64.06rem)"
              data-block-on-consent="_till_accepted"
              layout="fixed-height"
              height="280"
              type="adsense"
              data-ad-client="ca-pub-4404883883603593"
              data-ad-slot="9740719223">
          </amp-ad>
          <amp-ad media="not all and (min-width:64.06rem)"
              data-block-on-consent="_till_accepted"
              width="100vw" height=320
              type="adsense"
              data-ad-client="ca-pub-4404883883603593"
              data-ad-slot="7221177726"
              data-auto-format="rspv"
              data-full-width>
              <div overflow></div>
          </amp-ad>
          
        </div>
            <div class="sidebar relative">
                <div class="clearfix">
                      <div class="widget border p2">
        
                        <div class="col col-12 md-col md-col-12 center title">
                              <a name="author">Erstellt von</a>
                        </div>
                          
                          <div class="col col-4 lg-col lg-col-12">
                            <div class="avatar p2 mx-auto">
                                <amp-img class="circle self-center" src="https://imgs.networkchallenge.de/200x/avatar/{{ (.Page.Scratch.Get "author").avatar }}" 
                                    layout="responsive" width="200"
                                    height="200" alt="author"
                                    srcset="https://imgs.networkchallenge.de/100x/avatar/{{ (.Page.Scratch.Get "author").avatar }} 100w, https://imgs.networkchallenge.de/200x/avatar/{{ (.Page.Scratch.Get "author").avatar }} 200w, https://imgs.networkchallenge.de/400x/avatar/{{ (.Page.Scratch.Get "author").avatar }} 400w">
                                </amp-img>
                              <p class="center">{{ (.Page.Scratch.Get "author").name }}</p>
                            </div>
                          </div>
                          <div class="col col-8 lg-col lg-col-12 p2">
                              <div class="col-xs-12">
                                <p>
                                  {{ (.Page.Scratch.Get "author").intro }}
                                </p>
                              </div>
                            {{ if isset (.Page.Scratch.Get "author") "social" }}
                                <div class="col-xs-12 mt2">
                                    {{ range (.Page.Scratch.Get "author").social }}
                                      <a href="{{ .url }}"><span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-{{ .title }} fa-stack-1x fa-inverse"></i></span></a>
                                    {{ end }}
                                </div>
                              {{ end }}
                          </div>
                      </div>
                  </div>
                  <div class="clearfix">
                      <div class="widget p2 mt2">
        
                        <div class="col col-12 md-col md-col-12 center">
                            <amp-web-push
                            id="amp-web-push"
                            layout="nodisplay"
                            helper-iframe-url="{{ "amp-helper-frame.html" | absURL }}?appId={{ .Site.Params.onesignal }}"
                            permission-dialog-url="{{ "amp-permission-dialog.html" | absURL }}?appId={{ .Site.Params.onesignal }}"
                            service-worker-url="{{ "OneSignalSDKWorker.js" | absURL }}?appId={{ .Site.Params.onesignal }}"
                          ></amp-web-push>
                          <!-- A subscription widget -->
                  <amp-web-push-widget visibility="unsubscribed" layout="fixed" width="268" height="45">
                      <button class="subscribe" on="tap:amp-web-push.subscribe">
                          <i class="fa fa-bell fa-lg mr2" aria-hidden="true"></i> Neuigkeiten abonnieren!
                      </button>
                    </amp-web-push-widget>

                    <!-- An unsubscription widget -->
                    <amp-web-push-widget visibility="subscribed" layout="fixed" width="268" height="45">
                        <button class="unsubscribe" on="tap:amp-web-push.unsubscribe">
                            <i class="fa fa-bell-slash fa-lg mr2" aria-hidden="true"></i> Abmelden von Neuigkeiten</button>
                    </amp-web-push-widget>
                        </div>
                      </div>
                  </div>
                  
              </div>
              <div class="content relative left">
                {{ partial "comments.html" .}}
              </div>
        </div>

                  
    </div>
            
{{ partial "footer.html" .}}