{{ if .Params.images }}
    {{ .Scratch.Set "coverimg" (first 1 (where .Params.images "featured" true)) }}
{{ end }}               <article class="post-preview">
                 <header>
                    <a href="{{ .Permalink }}">
                        <h2>{{ .Title | safeHTML }}</h2>
                      </a>
                      <!-- <p class="post-meta"> -->
                        <span class="meta">
                            {{ partial "meta.html" (dict "context" .)}}
                          </span>
                      <!-- </p> -->
                 </header>
                    
                    <hr class="small">
                    <div class="clearfix">
                      {{ if .Scratch.Get "coverimg" }}
                      {{ range first 1 (.Scratch.Get "coverimg") }}
                      <div class="left mr2">

                        <amp-img alt="{{ .alt | default .title }}"
                        src="{{ $.Site.Params.Imgurl }}/160x/{{ .src }}"
                        width="160"
                        height="120"
                        layout="fixed">
                      </amp-img>
                    </div>
                      {{ end }}
                      {{ end }}
                      <div class="overflow-hidden">

                        <p>{{ .Description }}</p>
                        <a href="{{ .Permalink }}">mehr ...</a>
                      </div>
                    </div>
                    </article>
                <hr>
