          <!-- consent-->
          <amp-consent id="ncCookieConsent"
          layout="nodisplay">
          <script type="application/json">
            {
              "consents": {
                "ncCookieConsent": {
                  "checkConsentHref": "{{ "json/ampconsent.json" | absURL }}",
                  "promptUI": "consentDialog"
                }
              }
            }
          </script>
          <div class="popupOverlay"
            id="consentDialog">
            <div class="consentPopup">
              <div class="h2 m1">Cookie-Richtlinie</div>
              <p class="m1">Diese Website benutzt Cookies zur automatisierten Nutzerauswertung mit Google Analytics.</p>
              <p class="m1">Bitte beachten Sie die <a href="{{ "privacypolicy" | absURL }}/" title="Datenschutzerklärung">Datenschutzerklärung</a>!</p>
              <button on="tap:ncCookieConsent.accept" role="button"
                class="ampstart-btn ampstart-btn-secondary caps mx1">Akzeptieren</button>
            </div>
          </div>
        </amp-consent>
        <amp-web-push
          id="amp-web-push"
          layout="nodisplay"
          helper-iframe-url="{{ "amp-helper-frame.html" | absURL }}?appId={{ .Site.Params.onesignal }}"
          permission-dialog-url="{{ "amp-permission-dialog" | absURL }}?appId={{ .Site.Params.onesignal }}"
          service-worker-url="{{ "js/OneSignalSDKWorker.js" | absURL }}?appId={{ .Site.Params.onesignal }}"
        ></amp-web-push>
        <!-- A subscription widget -->
<amp-web-push-widget visibility="unsubscribed" layout="fixed" width="245" height="45">
    <button class="subscribe" on="tap:amp-web-push.subscribe">
      <amp-img
               class="subscribe-icon"
               width="24"
               height="24"
               layout="fixed"
               src="data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ic3Vic2NyaWJlLWljb24iIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMS44NCAxOS44ODdIMS4yMnMtLjk0Ny0uMDk0LS45NDctLjk5NWMwLS45LjgwNi0uOTQ4LjgwNi0uOTQ4czMuMTctMS41MTcgMy4xNy0yLjYwOGMwLTEuMDktLjUyLTEuODUtLjUyLTYuMzA1czIuODUtNy44NyA2LjI2LTcuODdjMCAwIC40NzMtMS4xMzQgMS44NS0xLjEzNCAxLjMyNSAwIDEuOCAxLjEzNyAxLjggMS4xMzcgMy40MTMgMCA2LjI2IDMuNDE4IDYuMjYgNy44NyAwIDQuNDYtLjQ3NyA1LjIyLS40NzcgNi4zMSAwIDEuMDkgMy4xNzYgMi42MDcgMy4xNzYgMi42MDdzLjgxLjA0Ni44MS45NDdjMCAuODUzLS45OTYuOTk1LS45OTYuOTk1SDExLjg0ek04IDIwLjk3N2g3LjExcy0uNDkgMi45ODctMy41MyAyLjk4N1M4IDIwLjk3OCA4IDIwLjk3OHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=">
      </amp-img>
      Subscribe to updates
    </button>
  </amp-web-push-widget>
             
  
  <!-- An unsubscription widget -->
  <amp-web-push-widget visibility="subscribed" layout="fixed" width="230" height="45">
     <button class="unsubscribe" on="tap:amp-web-push.unsubscribe">Unsubscribe from updates</button>
  </amp-web-push-widget>
        <hr>
        <!-- Footer -->
        <footer>
            <div class="clearfix">
                    <div class="sm-col-12 md-col-9 mx-auto">
                      <ul class="list-reset flex justify-center items-center">
                        {{ with .Site.Params.email }}
                          <li>
                            <a href="mailto:{{ . }}">
                              <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                              </span>
                            </a>
                          </li>
                        {{ end }}
                        {{ range .Site.Params.social }}
                        <li>
                          <a href="{{ .url }}">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-{{ .title }} fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                        </li>
                        {{ end }}
                      </ul>
                      <p class="center ampstart-small-text"><a href="{{ "privacypolicy" | absURL }}/index.html" title="Datenschutzerklärung">Datenschutzerklärung</a>
                        <br>Copyright © <a href="{{ "about" | absURL }} ">Andreas Groll</a> 2019</p>
                    </div>
            </div>
        </footer>
    </body>
</html>