          <!-- consent-->
          <amp-consent id="myUserConsent"
          layout="nodisplay">
          <script type="application/json">
            {
              "consents": {
                "consent1": {
                  "checkConsentHref": "{{ "/json/ampconsent.json" | absURL }}",
                  "promptUI": "consentDialog"
                }
              }
            }
          </script>
          <div class="popupOverlay"
            id="consentDialog">
            <div class="consentPopup">
              <div class="h2 m1">Cookie-Richtlinie</div>
              <p class="m1">Diese Website benutzt Cookies zur automatisierten Nutzerauswertung mit Google Analytics.</p>
              <p class="m1">Bitte beachten Sie die <a href="{{ "privacypolicy" | absURL }}/" title="Datenschutzerklärung">Datenschutzerklärung</a>!</p>
              <button on="tap:myUserConsent.accept"
                class="ampstart-btn ampstart-btn-secondary caps mx1">Akzeptieren</button>
            </div>
          </div>
        </amp-consent>
        <hr>
        <!-- Footer -->
        <footer>
            <div class="clearfix">
                    <div class="sm-col-12 md-col-9 mx-auto">
                      <ul class="list-reset flex justify-center items-center">
                        {{ with .Site.Params.email }}
                          <li>
                            <a href="mailto:{{ . }}">
                              <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                              </span>
                            </a>
                          </li>
                        {{ end }}
                        {{ range .Site.Params.social }}
                        <li>
                          <a href="{{ .url }}">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-{{ .title }} fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                        </li>
                        {{ end }}
                      </ul>
                      <p class="center ampstart-small-text"><a href="{{ "privacypolicy" | absURL }}/index.html" title="Datenschutzerklärung">Datenschutzerklärung</a>
                        <br>Copyright © <a href="{{ "about" | absURL }} ">Andreas Groll</a> 2018</p>
                    </div>
            </div>
        </footer>
    </body>
</html>