{{ if .Permalink }}
<meta property="og:url"                content="{{ .Permalink }}" />
{{ else }}
<meta property="og:url"                content="{{ .Site.BaseURL }}" />
{{ end }}
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{{ .Title | safeHTML }}" />
<meta property="og:description"        content="{{ .Description | safeHTML }}" />
{{ if (.Scratch.Get "schemaimg") }}
<meta property="og:image"              content="{{ .Site.Params.Imgurl }}/1600x/{{ .Param "image" | default (.Scratch.Get "schemaimg") | default "home-bg.jpg" }}" />
{{ end }}