{{ if .Permalink }}
<meta property="og:url"                content="{{ .Permalink }}" />
{{ else }}
<meta property="og:url"                content="{{ .Site.BaseURL }}" />
{{ end }}
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{{ .Title | safeHTML }}" />
<meta property="og:description"        content="{{ .Description | safeHTML }}" />
<!--meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" /-->