    <figure class="ampstart-image-fullpage-hero m0 relative mb4">
        {{ if isset .Params "image" }}
        <amp-img width="404" height="720" layout="responsive" srcset="{{ .Site.Params.Imgurl }}/1600x/{{ .Params.image }} 1600w, {{ .Site.Params.Imgurl }}/2100x/{{ .Params.image }} 2100w, {{ .Site.Params.Imgurl }}/3200x/{{ .Params.image }} 3200w" media="(max-width: 415px)" alt="Header Image"></amp-img>
        <amp-img height="720" layout="fixed-height" srcset="{{ .Site.Params.Imgurl }}/800x/{{ .Params.image }} 800w, {{ .Site.Params.Imgurl }}/1600x/{{ .Params.image }} 1600w, {{ .Site.Params.Imgurl }}/2100x/{{ .Params.image }} 2100w, {{ .Site.Params.Imgurl }}/3200x/{{ .Params.image }} 3200w" media="(min-width: 416px)" alt="Header Image"></amp-img>
        {{ else }}
        <amp-img width="404" height="720" layout="responsive" srcset="{{ .Site.Params.Imgurl }}/1600x/home-bg.jpg 1600w, {{ .Site.Params.Imgurl }}/2100x/home-bg.jpg 2100w, {{ .Site.Params.Imgurl }}/3200x/home-bg.jpg 3200w" media="(max-width: 415px)" alt="Header Image"></amp-img>
        <amp-img height="720" layout="fixed-height" srcset="{{ .Site.Params.Imgurl }}/800x/home-bg.jpg 800w, {{ .Site.Params.Imgurl }}/1600x/home-bg.jpg 1600w, {{ .Site.Params.Imgurl }}/2100x/home-bg.jpg 2100w, {{ .Site.Params.Imgurl }}/3200x/home-bg.jpg 3200w" media="(min-width: 416px)" alt="Header Image"></amp-img>
        {{ end }}
        <figcaption class="absolute top-0 right-0 bottom-0 left-0">
            <div class="clearfix">
                <div class="sm-col-12 md-col-9 mx-auto">
                    <header class="p3 mt1">
                        <h1 class="ampstart-fullpage-hero-heading mb1 mt0">
                            <!-- <span class="px2"> -->
                                {{ .Title | safeHTML }}
                            <!-- </span> -->
                        </h1>
                        <!-- <span class="left-align px2"> -->
                            {{ partial "meta.html" (dict "context" . "isPage" 1)}}
                        <!-- </span> -->
                        <hr class="small">
                        <!-- <span class="left-align px2"> -->
                            {{ .Description | safeHTML }}
                        <!-- </span> -->
                    </header>
                </div>
            </div>
            <footer class="absolute left-0 right-0 bottom-0">
                <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content">⌄</a>
            </footer>
        </figcaption>
    </figure>