    <div class="intro-header lazyload">
        <div class="header-bg">
            <div class="clearfix">
                <div class="sm-col-12 md-col-9 mx-auto">
                            <div class="page-heading center">
                                <div class="title p2 left-align">
                        <h1 class="ampstart-fullpage-hero-heading mb1 mt0">
                                {{ .Title | safeHTML }}
                        </h1>
                        {{ partial "meta.html" (dict "context" . "isPage" 1)}}
                        <hr class="small">
                    <!-- <span class="ampstart-image-credit h4"> -->
                            {{ .Description | safeHTML }}
                    <!-- </span> -->
                                </div>
                            </div>
                </div>
            </div>
       </div>
    </div>