{{ if .IsHome }}
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Blog",
                "url": "{{ .Site.BaseURL }}",
                "headline": "{{.Site.Title}}",
                "description": "{{ .Site.Params.description }}",
                "publisher": {
                    "@type": "Organization",
                    "name": "ChaosBlog",
                    "logo": {
                      "@type": "ImageObject",
                      "url": "{{ "/img/chaosblog.png" | absURL }} "
                    }
                  },
                  "author": {
                    "@type": "Person",
                    "name": "Andreas Groll"
                  }
            }
        </script>
        {{ else }}
            {{ if and (eq .Type "post") (eq .Kind "page") }}
            <script type="application/ld+json">
              {{ if .Params.images }}
                {{ $images := first 1 (where (where .Params.images "type" "postimg") "featured" true) | default (first 1 (where .Params.images "type" "header")) | default (first 1 (where .Params.images "type" "postimg"))}}
                {{ range first 1 $images }}
                {{ $.Scratch.Set "schemaimg" .src }}
                {{ end }}
              {{ end }}
                {
                  "@context": "http://schema.org",
                  "@type": "BlogPosting",
                  "mainEntityOfPage": {
                    "@type": "Blog",
                    "@id": "{{ .Site.BaseURL }}"
                  },
                  "headline": "{{ .Title | safeHTML }}",
                  "datePublished": "{{ .Date.Format "2006-01-02T15:04-0700" }}",
                  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04-0700" }} ",
                  "author": {
                    "@type": "Person",
                    "name": "{{ (.Page.Scratch.Get "author").name }}"
                  },
                   "publisher": {
                    "@type": "Organization",
                    "name": "ChaosBlog",
                    "logo": {
                      "@type": "ImageObject",
                      "url": "{{ "img/chaosblog.png" | absURL }} "
                    }
                  },
                  "description": "{{ .Description | safeHTML }}",
                  "image": 
                    "{{ .Site.Params.Imgurl }}/1600x/{{ .Param "image" | default (.Scratch.Get "schemaimg") | default "home-bg.jpg" }}"
                }
                </script>
            {{ else }}
            <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "WebPage",
                    "name": "{{ .Title | safeHTML }}",
                    "description": "{{ .Description | safeHTML }}",
                    "publisher": {
                        "@type": "Organization",
                        "name": "ChaosBlog",
                        "logo": {
                          "@type": "ImageObject",
                          "url": "{{ "/img/chaosblog.png" | absURL }} "
                        }
                      }
                }
                </script>
            {{ end }}
        {{ end }}