{{ partial "header.html" . }}
{{ partial "site-header.html" . }}

<div class="clearfix" id="content">
    <div class="sm-col-12 md-col-8 px2 mx-auto">

        {{ $posts := or .Site.Params.PostSummariesFrontPage 4 }}
        {{ range first $posts (where .Data.Pages "Type" "post") }}
        {{ .Render "summary"}}
        {{ end }}
        <!-- Pager -->
        <ul class="list-reset flex justify-center items-center right">
            <li class="border p1">
                <a href="{{ absURL "post" }}">Archiv &rarr;</a>
            </li>
        </ul>
    </div>
</div>

{{ partial "footer.html" .}}
