<amp-ad media="(min-width:64.06rem)"
    data-block-on-consent="_till_accepted"
    layout="fixed-height"
    height="280"
    type="adsense"
    data-ad-client="ca-pub-4404883883603593"
    data-ad-slot="9740719223">
</amp-ad>
<amp-ad media="not all and (min-width:64.06rem)"
    data-block-on-consent="_till_accepted"
    width="100vw" height=320
    type="adsense"
    data-ad-client="ca-pub-4404883883603593"
    data-ad-slot="7221177726"
    data-auto-format="rspv"
    data-full-width>
    <div overflow></div>
</amp-ad>