{{- $title := .Get "title" -}}
{{- $delay := .Get "delay" | default "2000" -}}
{{- range first 1 (where .Page.Params.images "group" (.Get "group")) -}}
<div style="max-width: {{ .width }}px;" class="imgwrapper">
    <figure>
    <amp-carousel type="slides"
        width="{{ .width }}"
        height="{{ .height }}"
        layout="responsive"
        controls
        loop
        autoplay
        delay="{{ $delay }}">
{{- end -}}
    {{- range (where .Page.Params.images "group" (.Get "group")) -}}
        <amp-img src="{{ (printf "https://imgs.networkchallenge.de/screenshots/%v" .src) }}" 
        layout="responsive" width="{{ .width }}"
        height="{{ .height }}" alt="{{ .alt | default .title }}"
        ></amp-img>
    {{- end -}}
{{- range first 1 (where .Page.Params.images "group" (.Get "group")) -}}
    </amp-carousel>
    <figcaption class="image">
        {{- $title -}}
    </figcaption>
    </figure>
</div>
{{- end -}}